@font-face {
  font-family: Machine-Mi-iconfont;
  src: url(Zh-iconfont.woff) format("woff");
  font-weight: 400;
}

.icon {
  display: inline-block;
  font-family: Machine-Mi-iconfont !important;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
}

.icon-mi-1::before {
  content: '\E60C';
}

.icon-mi-2::before {
  content: '\E615';
}

.icon-mi-3::before {
  content: '\E634';
}

.icon-mi-4::before {
  content: '\E635';
}

.icon-mi-5::before {
  content: '\E636';
}

.icon-mi-6::before {
  content: '\E638';
}

.icon-mi-7::before {
  content: '\E628';
}

.icon-mi-8::before {
  content: '\E600';
}

.icon-mi-9::before {
  content: '\E616';
}

.icon-mi-10::before {
  content: '\E63C';
}

.icon-mi-11::before {
  content: '\E637';
}

.icon-mi-12::before {
  content: '\E623';
}