p.color {
  color: red;
}

p.a:hover {
  color: red;
}

p.a:focus {
  color: green;
}

p.a:active {
  color: blue;
}

/* :nth-child(n)结构性伪类选择器 */
.aa span:nth-child(1) {
  color: red;
}

.aa span:nth-child(2) {
  color: green;
}

.aa span:nth-child(3) {
  color: blue;
}

div a:link {
  color: pink;
}

div a:visited {
  color: orange;
}

div a:nth-child(5),
div a:nth-child(6),
div a:nth-child(7) {
  color: blue;
}

div a:nth-child(8),
div a:nth-child(9) {
  color: yellow;
}

div a:nth-child(10),
div a:nth-child(11) {
  font-size: 30px;
}

.red {
  color: red;
}

div.b ul li:nth-child(-n + 25) {
  color: red;
}

div.b ul li:nth-child(n + 65) {
  color: green;
}

div.b ul li:nth-child(n+35):nth-child(-n+50) {
  color: blue;
}


div.prime ul li:nth-child(2n) {
  color: green;
}

div.prime ul li:nth-child(2),
div.prime ul li:nth-child(2n + 1) {
  color: red;
}

div.prime ul li:nth-child(1) {
  color: black;
}