body {
	min-width: 1226px;
	height: 100%;
	font: 14px/1.5 Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Heiti SC, WenQuanYi Micro Hei, sans-serif;
	box-sizing: border-box;
	overflow-y: scroll;
}


/*小米顶部css*/
.topBar {
	width: 100%;
	height: 40px;
	background-color: black;
}

.topBar .container {
	position: relative;
	width: 1226px;
	height: 40px;
	line-height: 40px;
	margin: auto;
}

.topBar .topBar_list {
	float: left;

}

.topBar_list>span {
	margin: 0px 3px;
}





.topBar .down-load {
	display: inline-block;
	position: relative;
	z-index: 1000;
}

.qrcode {
	width: 124px;
	height: 0px;
	position: absolute;
	left: 50%;
	top: 40px;
	margin-left: -62px;
	background-color: white;
	transition: height 0.4s;
	text-align: center;
	font-size: 14px;
	color: black;
	box-shadow: 0 0 5px #aaa;
	overflow: hidden;

}

.topBar_list #trangle {
	display: none;
	position: absolute;
	width: 0;
	height: 0;
	left: 14px;
	bottom: 0px;
	border: 10px solid transparent;
	border-bottom-color: white;
	overflow: hidden;
	transition: 0.5s;
	z-index: 1001;
}

.topBar .qrcode img {
	display: block;
	width: 90px;
	height: 90px;
	margin: 18px auto 12px;
}

.topBar a {
	color: #b0b0b0;
	font-size: 12px;
}


.topBar a:hover {
	color: white;
}

.down-load:hover .qrcode {
	height: 160px;
}

.down-load:hover #trangle {
	display: block;
}

.topBar .shop {
	float: right;
	width: 120px;
	height: 40px;
	text-align: center;
	background-color: #424242;
	font-size: 21px;

}


.topBar .shop_a {
	display: block;
	line-height: 40px;
	font-size: 14px;
	margin: auto;

}

.shop_list {
	position: absolute;
	top: 40px;
	right: 0px;
	width: 315px;
	height: 0px;
	line-height: 100px;
	box-shadow: 0 2px 3px rgb(231, 231, 231);
	background-color: #fff;
	text-align: center;
	overflow: hidden;
	transition: height 0.4s;
	z-index: 666;
}

.shop:hover .shop_list {
	height: 100px;
}

.shop:hover .shop_a {
	color: rgb(255, 103, 0);
	background-color: #fff;
}

.shop:hover .shop_a .shop_list {
	color: #b0b0b0;
}

.login {
	float: left;
	margin-left: 100px;
}

/*小米顶部end*/
/*小米导航栏start*/
div.nav-bottom-container {
	position: relative;
	z-index: 100;
	width: 1226px;
	height: 100px;
	margin: auto;
}

div.nav-bottom {
	width: 1226px;
	font-size: 16px;
	color: #333;
	margin: auto;
}

.nav-bottom>.logo,
.nav-bottom>[class^="main-nav-"],
[class^="main-nav-"]>li {
	float: left;
}

div.logo {
	margin: 22px 178px 22px 0;
}

a.mi-logo {
	background-image: url(images/logo-1.png);
	background-size: 56px;
	background-repeat: no-repeat;
	background-position: center;
	display: block;
	width: 56px;
	height: 56px;
	transition: background-size 0.3s;
}

a.mi-logo:hover {
	background-position: 0.5px;
}

a.mi-logo:active {
	background-size: 53px;
	transition: background-size 0.2s;
}



ul.menu {
	width: 1226px;
	height: 0;
	padding: 0 calc(50% - 613px);
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 5px 10px -11px #aaa;
	position: absolute;
	top: 100px;
	left: 0;
	display: flex;
	justify-content: left;
	gap: 24px;
	z-index: 100;
	overflow: hidden;
	transition: height 0.5s, z-index 4s;
}

.nav-bottom-container a {
	font-size: 16px;
}

div.gray-border {
	position: absolute;
	width: 100%;
	height: 1px;
	background-color: rgb(255, 255, 255);
	top: 99px;
	left: 0;
	transition: background-color 0.9s;
}

.main-nav-left:hover~div.gray-border {

	background-color: rgb(224, 224, 224);
}

[class^="main-nav-"]>li>a {
	display: block;
	padding: 38px 10px;
	color: #333;
}

.menu>li:nth-child(2n) {
	width: 1px;
	height: 100px;
	margin-top: 35px;
	background-color: rgb(224, 224, 224);
}

.menu>li>a>img {
	width: 155px;
	margin-top: 35px;
	margin-bottom: 10px;

}

.menu p {
	font-size: 12px;
	color: rgb(51, 51, 51);
	text-align: center;
	padding: 1px;
}

p.price {
	color: rgb(255, 103, 0);
}

[class^="main-nav-"]>li>a:hover {
	color: rgb(255, 103, 0);
}


.main-nav-left:hover .menu {
	height: 230px;
	transition: height 0.5s;
}

.main-nav-left:hover~.search .search_ul {
	visibility: hidden;
}


.main-nav-left>li:hover>ul.menu {
	z-index: 600;
}

.menu>li:first-child {
	margin-left: 25px;
}

.search {
	float: right;
	height: 50px;
	margin-top: 25px;
}

.search input {
	width: 223px;
	height: 48px;
	padding: 0 10px;
	margin-right: -5px;
	border: 1px solid rgb(224, 224, 224);
	border-right: 1px solid rgb(224, 224, 224);
	font-size: 14px;
	padding-left: 5px;
}

.search button {
	width: 50px;
	height: 50px;
	border: 1px solid rgb(224, 224, 224);
	border-left: 0.5px solid rgb(224, 224, 224);
	background-color: #fff;
	font-size: 24px;
}

.search_list {
	position: relative;
	width: 223px;
	display: none;
	font-size: 12px;
	padding-left: 15px;
	transition: 9999999s;
}

.search_ul>li {
	font-size: 12px;
	color: rgb(66, 66, 66);
	background-color: rgb(255, 255, 255);
	height: 29px;
	line-height: 29px;
}

.search input:focus~.search_list {
	height: auto;
	display: block;
	background-color: #fff;
	border: 1px solid rgb(255, 103, 0);
	border-top: none;
}

.search button:hover {
	color: white;
	background-color: rgb(255, 103, 0);
}

.search input:focus,
.search input:focus+button {
	border: 1px solid rgb(255, 103, 0);
}

.main-nav-left:hover~.search .search_list {
	display: none;
	transition: 9999999s;
}

/*轮播图*/
.swiper_side {
	width: 1226px;
	height: 460px;
	position: relative;
	margin: auto;
	z-index: 0;
}


.swiper_side input {
	display: none;
}

.swiper_img {
	display: flex;
	width: 1226px;
	height: 460px;
	overflow: hidden;
}

.swiper_img div {
	position: relative;
	width: 25%;
	height: 100%;
	background-repeat: no-repeat;
	overflow: hidden;
}

.swiper_img div span {
	position: absolute;
	width: 100%;
	height: 100%;
	left: -100%;
	background-size: 1226px 460px;
	transition: 1s ease-in-out;
}

.swiper_img div span:nth-child(1) {
	background-image: url(images/3-1.jpeg);
}

.swiper_img div span:nth-child(2) {
	background-image: url(images/3-2.webp);
}

.swiper_img div span:nth-child(3) {
	background-image: url(images/3-3.webp);
}

.swiper_img div span:nth-child(4) {
	background-image: url(images/3-4.webp);
}

.swiper_img div:nth-child(1) span {
	background-position: 0 0;
}

.swiper_img div:nth-child(2) span {
	background-position: -306.5px 0;
}

.swiper_img div:nth-child(3) span {
	background-position: -613px 0;
}

.swiper_img div:nth-child(4) span {
	background-position: -919.5px 0;
}

.swiper_side input:nth-child(1):checked~.swiper_img span:nth-child(1),
.swiper_side input:nth-child(2):checked~.swiper_img span:nth-child(2),
.swiper_side input:nth-child(3):checked~.swiper_img span:nth-child(3),
.swiper_side input:nth-child(4):checked~.swiper_img span:nth-child(4) {
	left: 0px;
}



.labels {
	position: absolute;
	z-index: 8;
	bottom: 25px;
	right: 30px;
}

.labels label {
	display: inline-block;
	width: 6px;
	height: 6px;
	border: 2px transparent solid;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, .4);
	margin: 0 4px;
}



.labels label:hover {
	background-color: #fff;
}

.labels_right,
.labels_left {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 240px;
	width: 30px;
	height: 30px;
	margin: auto;
	background-image: url(images/d.png);
	background-position: -84px;
	z-index: 10;
}

.labels_right {
	background-image: url(images/d.png);
	left: 1190px;
	right: 0px;
	background-position: 82px;
	transform: rotate(180deg);
}

.labels_right label,
.labels_left label {
	display: none;
}

.swiper_side input:nth-child(1):checked~.labels_left[for="i4"],
.swiper_side input:nth-child(1):checked~.labels_right[for="i2"],
.swiper_side input:nth-child(2):checked~.labels_left[for="i1"],
.swiper_side input:nth-child(2):checked~.labels_right[for="i3"],
.swiper_side input:nth-child(1):checked~.labels_left[for="i2"],
.swiper_side input:nth-child(1):checked~.labels_right[for="i4"],
.swiper_side input:nth-child(1):checked~.labels_left[for="i3"],
.swiper_side input:nth-child(1):checked~.labels_right[for="i1"] {
	display: block;
}

/*轮播菜单*/
.swiper_sidehome {
	position: absolute;
	top: 0px;
}

ul.home-left {
	width: 234px;
	height: 420px;
	padding: 20px 0;
	background-color: rgba(105, 101, 101, .6);
	display: flex;
	flex-direction: column;
	position: relative;
	z-index: 299;
}

ul.home-left>li>a {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px 0 30px;
	height: 42px;
	color: rgb(255, 255, 255);
	font-size: 14px;
}

ul.home-left>li>a>span.icon {
	font-size: 16px;
	color: rgb(255, 255, 255, 0.7);
}

ul.home-left>li:hover {
	background-color: rgb(255, 106, 0);
}

ul.home-menu {
	box-sizing: border-box;
	height: 460px;
	position: absolute;
	left: 234px;
	top: 0;
	border: 1px solid rgb(224, 224, 224);
	border-left: none;
	background-color: rgb(255, 255, 255);
	box-shadow: 10px 10px 25px -10px rgb(224, 224, 224);
	display: none;
	z-index: 299;
}

ul.home-menu.four-column {
	width: 992px;
}

ul.home-menu.three-column {
	width: 796px;
}

ul.home-menu.two-column {
	width: 532px;
}

ul.home-menu>li {
	flex-grow: 1;
}

ul.home-menu>li>ul>li img {
	width: 40px;
	margin: 0 22px;
	vertical-align: middle;
}

ul.home-menu>li>ul>li>a {
	display: block;
	line-height: 76.6px;
	color: rgb(51, 51, 51);
}

ul.home-menu>li>ul>li>a:hover {
	color: rgb(255, 106, 0);
}

ul.home-left>li:hover>.home-menu {
	display: flex;
}

div.hero-bottom {
	width: 1226px;
	height: 170px;
	margin: 14px auto 0;
	display: flex;
	justify-content: space-between;
}

div.hero-bottom-left ul {
	width: 228px;
	height: 164px;
	padding: 3px;
	background: #5f5750;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}

div.hero-bottom-left li {
	position: relative;
}

div.hero-bottom-left ul>li::before {
	content: '';
	display: block;
	width: 1px;
	height: 70px;
	position: absolute;
	left: 0;
	top: 6px;
	background-color: #665e57;
}

div.hero-bottom-left ul>li::after {
	content: '';
	display: block;
	width: 64px;
	height: 1px;
	position: absolute;
	left: 6px;
	top: -1px;
	background-color: #665e57;
}

div.hero-bottom-left a {
	display: block;
	width: 70px;
	padding-top: 18px;
	font-size: 12px;
	text-align: center;
	color: #fff;
	opacity: 0.7;
	transition: opacity 0.2s;
}

div.hero-bottom-left a:hover {
	opacity: 1;
}

div.hero-bottom-left a>img {
	display: block;
	width: 24px;
	margin: 0 auto 4px;
}

div.hero-bottom-right img {
	width: 316px;
	height: 170px;
}

div.miaosha {
	width: 100%;
	height: 401.6px;
	padding-top: 4px;
}

.miaosha input {
	display: none;
}

.miaosha label {
	width: 36px;
	height: 24px;
	position: absolute;
}

.miaosha label::before {
	display: block;
	width: 24px;
	height: 16px;
	padding: 3px 5px;
	border: 1px solid #e0e0e0;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
}

.miaosha label[class^="right-to"] {
	right: 0;
	top: -35px;
	color: #b0b0b0;
	cursor: pointer;
}

.miaosha label[class^="left-to"] {
	right: 35px;
	top: -35px;
	color: #b0b0b0;
	cursor: pointer;
}

.miaosha>.miaosha-bottom>label.left-to-1 {
	color: #e0e0e0;
	cursor: default;
}

#right-to-2:checked~.miaosha-bottom-swiper>ul {
	left: -992px;
	transition: 1s;
}

#right-to-2:checked~label.left-to-1 {
	color: #b0b0b0;
	cursor: pointer;
}

#right-to-2:checked~label.right-to-3,
#right-to-2:checked~label.left-to-1 {
	z-index: 999;
}

#right-to-3:checked~.miaosha-bottom-swiper>ul {
	left: -1736px;
	transition: 1s;
}

#right-to-3:checked~label.right-to-3 {
	color: #e0e0e0;
	cursor: default;
	z-index: 999;
}

#right-to-3:checked~label.left-to-2 {
	z-index: 999;
}

#left-to-2:checked~.miaosha-bottom-swiper>ul {
	left: -992px;
	transition: 1s;
}

#left-to-2:checked~label.left-to-1 {
	color: #b0b0b0;
	cursor: pointer;
}

.miaosha-bottom label:hover {
	color: #ff6709;
}

#left-to-1:checked~.miaosha-bottom-swiper>ul {
	left: 0;
	transition: 1s;
}

#left-to-1:checked~label.right-to-2 {
	z-index: 999;
}

#left-to-1:checked~label.left-to-1 {
	color: #e0e0e0;
	cursor: default;
	z-index: 999;
}

div.miaosha-top {
	width: 1226px;
	height: 57.6px;
	margin: auto;
	font-size: 22px;
	font-weight: 200;
	line-height: 58px;
	color: #333;
}

div.miaosha-bottom {
	display: flex;
	position: relative;
	width: 1226px;
	height: 340px;
	margin: auto;
}

div.miaosha-bottom-time {
	width: 234px;
	height: 300px;
	padding-top: 39px;
	background-color: rgb(241, 237, 237);
	border-top: 1px solid #e53935;
	;
}

div.time-top {
	width: 100%;
	padding-top: 15px;
	font-size: 21px;
	color: #ef3a3b;
	text-align: center;
}

.miaosha-bottom-time img {
	display: block;
	width: 34px;
	height: 53px;
	margin: 25px auto;
}

div.time-to-end {
	font-size: 15px;
	color: rgba(0, 0, 0, .54);
	text-align: center;
}

div.time {
	width: 168px;
	margin: 28px 33px 0;
}

div.time>span {
	float: left;
	background: #605751;
	width: 46px;
	height: 46px;
	font-size: 24px;
	line-height: 46px;
	text-align: center;
	color: #fff;
}

div.time>i {
	float: left;
	width: 15px;
	height: 46px;
	line-height: 46px;
	color: #605751;
	font-size: 28px;
	text-align: center;
	font-style: normal;
}

div.miaosha-bottom-swiper {
	width: 978px;
	height: 340px;
	margin-left: 14px;
	position: relative;
	overflow: hidden;
}

div.miaosha-bottom-swiper>ul {
	display: flex;
	flex-flow: row nowrap;
	justify-content: left;
	position: absolute;
	left: 0;
}

div.miaosha-bottom-swiper>ul>li {
	width: 234px;
	height: 339px;
	margin-right: 14px;
	background-color: rgb(255, 255, 255);
	border-top: 1px solid;
}

div.miaosha-bottom-swiper>ul>li:last-child {
	margin-right: 0;
}

div.miaosha-bottom-swiper>ul>li>a {
	display: block;
	width: 234px;
	height: 300px;
	padding-top: 39px;
}

div.miaosha-bottom-swiper>ul>li img {
	display: block;
	width: 160px;
	height: 160px;
	padding: 0 37px 27px 37px;
}

div.miaosha-bottom-swiper>ul>li h3 {
	width: 194px;
	margin: 0 20px 3px 20px;
	font-size: 14px;
	font-weight: 400;
	color: #212121;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.miaosha-desc {
	height: 18px;
	margin: 0 20px 12px;
	font-size: 12px;
	text-align: center;
	text-overflow: ellipsis;
	color: #b0b0b0;
	overflow: hidden;
	white-space: nowrap;
}

div.bottom-ad {
	width: 1226px;
	height: 120px;
	margin: 22px auto;
}

div.bottom-ad>a>img {
	width: 1226px;
	height: 120px;
}


div.gray-background {
	background-color: rgb(245, 245, 245);
}

.miaosha-price {
	text-align: center;
}

.miaosha-price>span:first-child {
	color: #ff6709;
}

.miaosha-price>span:last-child {
	color: #b0b0b0;
	text-decoration: #b0b0b0 solid line-through;
}

/* 轮播图上边框颜色 */

.miaosha-bottom-swiper>ul>li:nth-child(5n+1) {
	border-top-color: #ffac13;
}

.miaosha-bottom-swiper>ul>li:nth-child(5n+2) {
	border-top-color: #83c44e;
}

.miaosha-bottom-swiper>ul>li:nth-child(5n+3) {
	border-top-color: #2196f3;
}

.miaosha-bottom-swiper>ul>li:nth-child(5n+4) {
	border-top-color: #e53935;
}

.miaosha-bottom-swiper>ul>li:nth-child(5n+5) {
	border-top-color: #00c0a5;
}

div[class*="-card-container"] {
	width: 1226px;
	height: 686px;
	margin: 0 auto 8px;
}

.card-container-top {
	width: 1226px;
	height: 57.6px;
	margin: auto;
	font-size: 22px;
	font-weight: 200;
	line-height: 58px;
	color: #333;
}

.card-container-bottom {
	width: 1226px;
	height: 628px;
	position: relative;
}

div.container-bottom-left {
	position: relative;
	width: 234px;
	height: 614px;
	transition: all .2s linear;
}

/* 手机卡片块左侧长块 */

.phone-card-container div.container-bottom-left:hover {
	transition: all .2s linear;
	transform: translate3d(0, -2px, 0);
	box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
}

/* 手机卡片块左侧长图 */

.phone-card-container div.container-bottom-left>a>img {
	width: 234px;
	height: 614px;
}

/* 手机卡片块右上角查看更多 */

a.more {
	position: absolute;
	right: 0;
	top: -58px;
	height: 57.6px;
	line-height: 57.6px;
	font-size: 16px;
	color: #424242;
	transition: all .4s;
}

/* 手机卡片块右上角图标 > */

a.more>i.icon {
	height: 12px;
	padding: 4px;
	margin-left: 8px;
	border-radius: 16px;
	font-size: 12px;
	line-height: 12px;
	background: #b0b0b0;
	color: #fff;
	transition: all .4s;
}

/* 手机卡片块右上角查看更多:hover 样式 */

a.more:hover {
	color: #ff6709;
	transition: all .4s;
}

a.more:hover>i {
	background-color: #ff6709;
	transition: all .4s;
}

/* 手机板块购物卡片样式 */

.phone-card-container ul.container-bottom-right>li {
	position: relative;
	margin-left: 14px;
	margin-bottom: 14px;
	width: 234px;
	height: 260px;
	padding: 20px 0;
	background-color: #fff;
	transition: all .2s linear;
}

.phone-card-container ul.container-bottom-right {
	left: 234px;
	top: 0;
}

/* 购物卡片包含块右侧统一样式 */

ul.container-bottom-right {
	display: flex;
	width: 992px;
	flex-flow: row wrap;
	position: absolute;
	right: 0;
	top: 42px;
	visibility: visible;
	transition: visibility 0s 999s;
}

/* 正常大小购物卡片统一样式 */

ul.container-bottom-right>li:not(:last-child) {
	position: relative;
	margin-left: 14px;
	margin-bottom: 14px;
	width: 234px;
	height: 260px;
	padding: 20px 0;
	background-color: #fff;
	transition: all .2s linear;
}

/* 正常大小购物卡片:hover样式 */

ul.container-bottom-right>li:not(:last-child):hover {
	transition: all .2s linear;
	transform: translate3d(0, -2px, 0);
	box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
}

/* 手机板块购物卡片:hover样式 */

div.phone-card-container ul.container-bottom-right>li:last-child:hover {
	transition: all .2s linear;
	transform: translate3d(0, -2px, 0);
	box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
}

ul.container-bottom-right>li>a>img {
	width: 160px;
	height: 160px;
	padding: 0 37px 18px;
}

ul.container-bottom-right>li>a>h3 {
	width: 214px;
	margin: 0 10px 2px;
	font-size: 14px;
	font-weight: 400;
	color: #333;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

p.card-desc {
	height: 18px;
	margin: 0 10px 10px;
	font-size: 12px;
	text-align: center;
	text-overflow: ellipsis;
	color: #b0b0b0;
	overflow: hidden;
	white-space: nowrap;
}

p.card-price {
	text-align: center;
}

p.card-price>span.now {
	color: #ff6709;
}

p.card-price>span.past {
	color: #b0b0b0;
	text-decoration: #b0b0b0 solid line-through;
}

/* 小商品卡样式*/

div.small-card {
	width: 234px;
	height: 93px;
	padding-top: 50px;
	margin-left: 14px;
	margin-bottom: 14px;
	background-color: #fff;
	transition: all .2s linear;
}

div.small-card:hover {
	transition: all .2s linear;
	transform: translate3d(0, -2px, 0);
	box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
}

div.small-card img {
	float: right;
	width: 80px;
	height: 80px;
	margin-right: 20px;
	margin-top: -20px;
}

div.small-card h3 {
	margin: -10px 110px 5px 30px;
	font-size: 14px;
	font-weight: 400;
	color: #333;
}

div.small-card p {
	margin: 0 110px 0 30px;
	font-size: 14px;
	color: #ff6700;
}

/* 浏览更多样式 */

div.browse-more {
	width: 234px;
	height: 93px;
	padding-top: 50px;
	margin-left: 14px;
	margin-bottom: 14px;
	background-color: #fff;
	transition: all .2s linear;
}

div.browse-more:hover {
	transition: all .2s linear;
	transform: translate3d(0, -2px, 0);
	box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
}

div.more-left {
	margin: 0 110px 0 30px;
	font-size: 18px;
	color: #333;
}

div.more-left>p.small {
	font-size: 12px;
	color: #757575;
}

div.more-right {
	float: right;
	font-size: 48px;
	color: #ff6700;
	margin-right: 35px;
	margin-top: -45px;
}

/* 通用的左侧两张图片样式 */

.container-bottom-left>div>a>img {
	width: 234px;
	height: 300px;
}

.container-bottom-left>div {
	width: 234px;
	height: 300px;
	margin-bottom: 14px;
	transition: all .2s linear;
}

.container-bottom-left>div:hover {
	transition: all .2s linear;
	transform: translate3d(0, -2px, 0);
	box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
}

#card-container {
	position: absolute;
	height: 0;
	top: -42px;
	right: 0;
}

#card-container:hover ul {
	visibility: hidden;
	transition: none;
}

#card-container:hover section {
	color: #333;
	border-bottom: 2px solid transparent;
	transition: none;
}

#card-container>section {
	float: left;
	margin-left: 30px;
	height: 24px;
	font-size: 16px;
	cursor: pointer;
}

section.part-1 {
	color: #ff6700;
	border-bottom: 2px solid #ff6700;
	transition: color border-bottom-color 0s 999s;
}

section.part-2 {
	color: #333;
	border-bottom: 2px solid transparent;
	transition: color border-bottom-color 0s 999s;
}

section.part-3 {
	color: #333;
	border-bottom: 2px solid transparent;
	transition: color border-bottom-color 0s 999s;
}

#card-container>section.part-1:hover {
	color: #ff6700;
	border-bottom-color: #ff6700;
	transition: none;
}

#card-container>section.part-2:hover {
	color: #ff6700;
	border-bottom-color: #ff6700;
	transition: none;
}

#card-container>section.part-3:hover {
	color: #ff6700;
	border-bottom-color: #ff6700;
	transition: none;
}

#card-container>section.part-1:hover>ul {
	visibility: visible;
	transition: none;
}

#card-container>section.part-2:hover>ul {
	visibility: visible;
	transition: none;
}

#card-container>section.part-3:hover>ul {
	visibility: visible;
	transition: none;
}

ul.card-p1 {
	z-index: 999;
}

/* 底部视频栏 */

div.video-container {
	width: 1226px;
	height: 357px;
	margin: 0 auto 8px;
}

.video-top {
	width: 1226px;
	height: 57.6px;
	margin: auto;
	font-size: 22px;
	font-weight: 200;
	line-height: 58px;
	color: #333;
}

ul.video-bottom {
	display: flex;
	position: relative;
	justify-content: space-between;
	flex-flow: row nowrap;
}

ul.video-bottom>li {
	width: 296px;
	height: 285px;
	margin-bottom: 14px;
	background-color: #fff;
	position: relative;
	transition: all .2s linear;
}

ul.video-bottom img {
	width: 296px;
	height: 180px;
	margin-bottom: 28px;
}

ul.video-bottom h3 {
	width: 268px;
	margin: 0 14px 6px;
	font-size: 14px;
	font-weight: 400;
	text-align: center;
	color: #333;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

ul.video-bottom p {
	width: 268px;
	margin: auto;
	font-size: 12px;
	color: #b0b0b0;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

ul.video-bottom>li i {
	display: block;
	position: absolute;
	left: 20px;
	bottom: 117px;
	width: 32px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	font-size: 30px;
	border: 2px solid #fff;
	border-radius: 12px;
	background-color: rgba(0, 0, 0, .6);
	color: #fff;
	transition: all .2s;
	overflow: hidden;
}

ul.video-bottom img:hover+i {
	background-color: #ff6709;
	border-color: #ff6709;
}

ul.video-bottom>li:hover {
	transition: all .2s linear;
	transform: translate3d(0, -2px, 0);
	box-shadow: 0 15px 30px rgba(0, 0, 0, .1);
}

div.footer {
	width: 100%;
	background-color: #fff;
	margin-top: 12px;
}

ul.footer-top {
	display: flex;
	flex-flow: row nowrap;
	border-bottom: 1px solid #e0e0e0;
	width: 1226px;
	padding: 27px 0;
	margin: auto;
}

ul.footer-top>li {
	width: 19.8%;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	text-align: center;
}

ul.footer-top>li:not(:first-child) {
	border-left: 1px solid #e0e0e0;
}

ul.footer-top>li>a {
	color: #616161;
}

ul.footer-top>li>a:hover {
	color: #ff6700;
}

ul.footer-top>li>a::before {
	font-size: 24px;
	vertical-align: -5px;
}

ul.footer-bottom {
	display: flex;
	flex-flow: row nowrap;
	width: 1226px;
	padding: 40px 0;
	margin: auto;
}

ul.footer-bottom>li:not(:last-child) {
	width: 160px;
	text-align: left;
}

ul.footer-bottom>li:not(:last-child)>p {
	margin: -1px 0 26px;
	font-size: 14px;
	line-height: 1.25;
	color: #424242;
}

ul.footer-bottom>li:not(:last-child)>a {
	display: block;
	color: #757575;
	font-size: 12px;
	margin-top: 10px;
}

ul.footer-bottom>li:not(:last-child)>a:hover {
	color: #ff6700;
}

ul.footer-bottom>li:last-child {
	width: 251px;
	border-left: 1px solid #e0e0e0;
	margin-left: 14px;
	text-align: center;
}

ul.footer-bottom>li:last-child>.tel {
	font-size: 22px;
	line-height: 1;
	color: #ff6700;
	margin: 0 0 5px 0;
}

ul.footer-bottom>li:last-child>.time {
	margin: 0 0 5px 0;
	font-size: 12px;
	color: #616161;
}

ul.footer-bottom>li:last-child>a {
	border-color: #ff6700;
	background: #fff;
	color: #ff6700;
	width: 118px;
	height: 28px;
	font-size: 12px;
	line-height: 28px;
	border: 1px solid #ff6700;
	transition: all .4s;
}

ul.footer-bottom>li:last-child>a:hover {
	color: #fff;
	background-color: #f25807;
	border-color: #f25807;
	transition: all .4s;
}

div.wb-wx {
	font-size: 12px;
	margin-top: 10px;
	color: #616161;
}

a.wb {
	width: 24px;
	height: 24px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 6px;
	margin-top: -3px;
	background-image: url(images/wb-1.png);
	background-size: cover;
}

a.wx {
	width: 24px;
	height: 24px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 6px;
	margin-top: -3px;
	background-image: url(images/wx.png);
	background-size: cover;
}

a.wb:hover {
	background-image: url(images/wb-2.png);
	background-size: cover;
}

a.wx:hover {
	background-image: url(images/wx-2.png);
	background-size: cover;
}


/* 网站底部信息栏 */
.site-info {
	width: 100%;
	background: #fafafa;
	padding: 30px 0;
}

.info-main {
	width: 1226px;
	margin: auto;
	font-size: 12px;
	position: relative;
}

.info-logo {
	width: 56px;
	height: 56px;
	margin-right: 10px;
	background: url(images/logo-mi2.png) no-repeat;
	background-size: 56px;
	position: absolute;
	top: 0;
	left: 0;
}

.info-text {
	padding-left: 67px;
}

.info-text>p.sites>a {
	line-height: 18px;
	color: #757575;
}

.info-text>p.sites>span {
	line-height: 18px;
	color: #b0b0b0;
	font-family: sans-serif;
}

.info-text>p.other {
	color: #b0b0b0;
}

.info-text>p.other>a {
	color: #b0b0b0;
}

.site-info>.info-main p a:hover {
	color: #ff6700;
}

div.picture-link {
	height: 28px;
	margin: 4px 0 15px;
	padding-left: 67px;
}

div.picture-link>a>img {
	height: 28px;
}

div.picture-link>a:nth-child(5) {
	display: inline-block;
	height: 28px;
	width: 74px;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(images/f-5-1.png);
	animation-name: picture;
	animation-duration: 3.5s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

@keyframes picture {
	from {
		background-image: url(images/f-5-1.png);
	}

	to {
		background-image: url(images/f-5-2.png);
	}
}

div.best-wish {
	margin: 45px auto 0;
	width: 100%;
	height: 19px;
	background-image: url(images/best-wish.png);
	background-repeat: no-repeat;
	background-position: center;
}

/* 右侧边栏通用样式 */
ul.sidebar {
	margin-right: 20px;

}

ul.sidebar>li:last-child {
	margin-top: 14px;
}

ul.sidebar>li>a {
	display: block;
	color: #757575;
	width: 100%;
	height: 100%;
}

ul.sidebar>li:nth-child(1)>a>div {
	background-image: url(images/s-1-1.png);
}

ul.sidebar>li:nth-child(2)>a>div {
	background-image: url(images/s-2-1.png);
}

ul.sidebar>li:nth-child(3)>a>div {
	background-image: url(images/s-3-1.png);
}

ul.sidebar>li:nth-child(4)>a>div {
	background-image: url(images/s-4-1.png);
}

ul.sidebar>li:nth-child(5)>a>div {
	background-image: url(images/s-5-1.png);
}

ul.sidebar>li:nth-child(6)>a>div {
	background-image: url(images/s-6-1.png);
}

ul.sidebar>li:hover>a {
	color: #ff6700;
}

ul.sidebar>li:nth-child(1):hover>a>div {
	background-image: url(images/s-1.png);
}

ul.sidebar>li:nth-child(2):hover>a>div {
	background-image: url(images/s-2.png);
}

ul.sidebar>li:nth-child(3):hover>a>div {
	background-image: url(images/s-3.png);
}

ul.sidebar>li:nth-child(4):hover>a>div {
	background-image: url(images/s-4.png);
}

ul.sidebar>li:nth-child(5):hover>a>div {
	background-image: url(images/s-5.png);
}

ul.sidebar>li:nth-child(6):hover>a>div {
	background-image: url(images/s-6.png);
}

div.code {
	display: none;
	position: absolute;
	left: -142px;
	top: 0;
	padding: 14px;
	background: #fff;
	border: 1px solid #f5f5f5;
}

div.code>img {
	display: block;
	width: 100px;
	margin: 6px auto;
}

div.code>span {
	display: block;
	width: 82px;
	margin: 14px auto 0;
	color: #757575;
	text-align: center;
}

div.code::before {
	content: "";
	position: absolute;
	top: 21%;
	right: -19px;
	width: 0;
	height: 0;
	border-width: 10px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #f5f5f5;
	z-index: 1;
	overflow: hidden;
}

div.code::after {
	content: "";
	position: absolute;
	top: 21%;
	right: -18px;
	width: 0;
	height: 0;
	border-width: 10px;
	border-style: solid;
	border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fff;
	z-index: 2;
	overflow: hidden;
}

ul.sidebar>li:nth-child(1):hover>div.code {
	display: block;
}

/* 窗口宽度大于1400px时，侧边栏样式 */
@media (min-width:1400px) {

	ul.sidebar {
		position: fixed;
		bottom: 70px;
		right: 0;
		z-index: 9999;
	}

	ul.sidebar>li {
		position: relative;
		width: 82px;
		height: 90px;
		margin-top: -1px;
		background-color: #fff;
		border: 1px solid #f5f5f5;
		text-align: center;
	}

	ul.sidebar>li>a>div {
		width: 30px;
		height: 30px;
		margin: 18px auto 8px;
		background-size: contain;
	}

}

/* 当窗口宽度小于1400px时的通用样式 */
@media (max-width:1400px) {
	ul.sidebar {
		position: fixed;
		bottom: 70px;
		z-index: 9999;
	}

	ul.sidebar>li {
		position: relative;
		width: 25px;
		height: 40px;
		margin-top: -1px;
		background-color: #fff;
		border: 1px solid #f5f5f5;
		text-align: center;
	}

	ul.sidebar>li>a>div {
		width: 20px;
		height: 20px;
		margin: 10px auto 8px;
		background-size: contain;
	}

	ul.sidebar>li>a>span {
		display: none;
		position: absolute;
		right: 35px;
		top: 0;
		height: 28px;
		line-height: 28px;
		padding: 0 8px;
		background-color: #fff;
		border: 1px solid #f5f5f5;
		text-align: center;
		white-space: nowrap;
	}

	ul.sidebar>li>a>span::before {
		content: "";
		position: absolute;
		right: -13px;
		top: 50%;
		width: 0;
		height: 0;
		margin-top: -6px;
		border-width: 6px;
		border-style: solid;
		border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #f5f5f5;
		overflow: hidden;
		z-index: 1;
	}

	ul.sidebar>li>a>span::before {
		content: "";
		position: absolute;
		right: -12px;
		top: 50%;
		width: 0;
		height: 0;
		margin-top: -6px;
		border-width: 6px;
		border-style: solid;
		border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #fff;
		overflow: hidden;
		z-index: 2;
	}

	ul.sidebar>li:not(:first-child):hover>a>span {
		display: block;
		color: #757575;
	}


	@media (min-width:1280px) and (max-width:1400px) {
		ul.sidebar {
			right: calc(50% - 640px);
		}
	}
}

@media (max-width:1280px) {
	ul.sidebar {
		right: 0;
	}
}